
# Basic setup of a fresh raspberry pi
- hosts: pis
  roles:
    - role: base
    - role: ntp
    - role: motd
    - role: ssh
  vars:
    - ssh_public_keys_directory: ./public_keys
    - keyboard_layout: gb
    - timezone: Europe/London
    - password_login_permitted: "yes"       # Quoted so that Ansible doesn't automatically convert to Bool.
  tags: basics

# A Dedicated wifi play to set some of the parameters via prompt
- hosts: pis
  roles:
    - wifi
  vars:
    - wifi_ssid: ""
    - wifi_psk: ""
  tags: wifi
  gather_facts: false
  
# Sets a new hostname
- hosts: pis
  roles:
    - hostname
  vars:
    - new_hostname: "pi001"
  tags: hostname
  gather_facts: true