---
- name: upgrade apt system
  apt: upgrade=yes update_cache=yes

- name: Install base
  apt: name={{ item }} state=latest update_cache=yes cache_valid_time=3600 force=yes
  with_items:
    - tmux
    - vim
    - git-core
    - build-essential
    - openssl
    - libssl-dev
    - pkg-config
    - python-dev
    - curl
    - htop

- name: Switch keyboard layout to GB/UK
  lineinfile: dest=/etc/default/keyboard regexp=XKBLAYOUT line='XKBLAYOUT="gb"'
